.found{
  background-color: orange;
  text-align: center;
  font-family: 'Love Ya Like A Sister'
}
h4,p,h5 {
  font-family:'Lora'
}
h5{
  font-size: 21px;
}
  .prog{
    margin-left: 5%;
  }
  .contact{
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #f2f0f0;
    border-radius: 10px;
  }
  @media screen and (max-width: 650px) {
    h1{
      text-align: center;
      font-family: "Love Ya Like A Sister";
      font-size: 20px;
    }
    p{
      font-size: 12px;
      font-family: 'Lora'
    }
    h4{
      font-family: "Lora";
      font-size: 15px
    }
  }
