header{
  background-color: white;
  width: 180px;
  margin-left: 30px;
  border-radius: 70px;
  height: 150px;
  padding-top: 5px;
}
.logo{
  margin-left: 25px;
  height: 140px;
  width:130px;
}
.w3-panel{
  background-color:#4da6ff;
  height: 50px;
}
.panel-body{
  text-align: center;
  height: 40px;
  background-color: white;
}
.panael-menu{
  font-family: "Lato";
  display: inline;
  font-size: 25px;
  padding: 10px;
  /*font-size: 15px;*/

}
