.juu{
  padding-top: 10px;
  margin-left: 950px;
}
.play{
  height: 19%;
  width: 8%;
  border-radius: 5px;
}
#menuToggle{
  display: none;
}
.pd{
  padding-bottom: 2px;
}
.up{
  position: relative;
    z-index: 60;
    height: 5px;
    border-top: 5px solid #fcca0a;
}
ul#horizontal li {
  display: inline;
  list-style: none;
  padding: 8px;
  color: black;
}
a{
  color: black;
}
.w3-panel{
  background-color:#4da6ff;
  height: 58px;
  text-align: center;
}

.panel-body{
  font-weight: 700;
  margin-left: 40px;
  text-align: center;
  font-size: 15px;
}
@media screen and (max-width: 650px) {
  .juu{
    padding-top: 0px;
    margin-left: 0px;
  }
  .play{
    width: 17%;
    height: 30%;
  }
  #location{
    height: 25px;
    margin-left: 158px;
    width: 75px;
    font-size: 8px;
  }
  ul#horizontal li {
    display: none;
    list-style: none;
    padding-bottom: 10px;
    color: black;
  }
  header{
    width: 70px;
    margin-left: 140px;
    height: 70px;
    padding-top: 4px;
  }
  .panel-body{
    height: 30px;
    font-size: 5px
  }
  .logo{
    height: 74px;
    width: 74px;
  }
  .panael-menu{
    font-size: 8px;

  }
  .w3-panel{
    background-color:#4da6ff;
    height: 25px;
  }
  #menuToggle
{
  display: block;
  position: relative;
  top: -11px;
  left: -40px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 30px;
  height: 25px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #4da6ff;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  margin: -100px 0 0 -50px;
  padding: 35px;
  padding-top: 50px;
  height: 380px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 15px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}
}
