.about{
  font-family: "Lora";
}
.banner{
  position: relative;
  width: 100%;
}
a{
  color: black;
}
#but{
  position: absolute;
  margin-left: 700px;
  vertical-align: middle;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  height: 60px;
  font-weight: bold;
  bottom: 40px;
  background-color: #FFA500;
}
p{
  font-family:'Arial'
}
h1{
  text-align: center;
  font-family: "Love Ya Like A Sister";
}
.vl {
  border-right: 2px solid grey;
  height: 8px;
}
@media screen and (max-width: 650px) {
  #but{
    position: absolute;
    margin-left: 200px;
    vertical-align: middle;
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    height: 30px;
    font-weight: bold;
    top: 5px;
    background-color: #FFA500;
  }

  h1{
    text-align: center;
    font-family: "Love Ya Like A Sister";
    font-size: 20px;
  }
  h4{
    font-family: "Lora";
    font-size: 15px
  }
  h5, p{
    font-size: 12px;
  }
  h4{
    font-size: 15px;
  }
  h2{
    font-size: 20px;
  }
  .kabi{
    display: none;
  }
  .do{
    width: 200px;
    height: 200px;
    float: left;
  }
  .vl,.labs{
    display: none;
  }
}
