{%extends 'base.html'%}{%load static%} {%block content%} {% load bootstrap3 %}

<body>
<div class="container">
    {%include 'carousel.html'%}
    <h1>What we are about</h1>
    <h5 class='about' >Science, Technology, Engineering and Math learning for kids in a fun and real-life application way.<br><strong>Science is Fun!</strong> </h5>
    <h1>Our five learning centers focus on  these pillars</h1>
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <ul>
            <li>Sciences</li>
            <li>Mathematics</li>
            <li>Environment</li>
            <li>Health and Nutrition</li>
            <li>Technology and Engineering</li>
          </ul>
          <h5>We acknowlage each child as a an individual and edutain the children bearing this in mind,through age-specific language and programs <br>
          Our learning classes are:</h5>
          <div class="row">
            <div class="col-md-3">
            <h2>1.5-3 Years</h2>
            <p><strong>Baby Steins</strong>- Focused on Sensorial learning</p>
            </div>
            <div class="col-md-3">
              <h2>3-6 Years</h2>
              <p><strong>Mini Steins</strong>-Named after Albert Einstein</p>
            </div>
            <div class="col-md-3">
              <h2>7-9 Years</h2>
              <p><strong>The Curies</strong>-Named after Marie Curie</p>
            </div>
            <div class="col-md-3">
              <h2>10-12 Years</h2>
              <p><strong>Carver Tweens</strong>- Named after George Washington Carver</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <img src="/static/img/KABI.png" alt="" height='300' width="250">
      </div>
    </div>
    <h1>How we do what we do</h1>
    <h5>Little Einsteins, belives that Science exploration in young children begins with Fun and sets the basis for a lifelong interests and knowlage of Science,technology, engineering and mathematics. Through relatable expiriences and store of 'KABI' the Science kid and 'SASHA' the Stemette.</h5>
    <div class="row">
      <div class="col-md-6">
        <h4><strong>Our LAB workshop</strong></h4>
        <p>centrally located at Lavington 891 Amboseli Road, off Convent Drive,Lavington. The Little Einssteins lab is an engaging and learning environment for our little explorers!</p>
        <h4><strong>In-school Workshop</strong></h4>
        <p>We offer workshops at kindergatens, primary and grade schools. Our scientists and lab Assistants bring all the equipment to engage our little explorers while in their learning instutions.</p>
        <img class='do' src="/static/img/IMG_6611.jpg" alt="" height='300' width="450">
      </div>
      <div class="col-md-6">
        <img class='do' src="/static/img/IMG_6309.jpg" alt="" height='300' width="450">
        <h4><strong>Holiday Camps</strong></h4>
        <p>What more fun our Science Explorers have then signing up for holiday camp! We engage your children over 5 days of the holiday in Science Activities. Kabi and Sasha love the holidays</p>
        <h4><strong>Special Events</strong></h4>
        <p>Are you having a birthday party for your Little One? Invite our Scientists and Lab Assistants to engage the children in silly and fun Science! Edutainment has never been better! A party and learning all in one</p>
      </div>
    </div>
  </div>
      {%include 'footer.html'%}
  </body>
  <style media="screen">
    body{
      padding-top: 70px;
    }
    .card{
      box-shadow: 1px 1px 10px #000;
      border-radius: 20px;
    }
    h1{
      text-align: center;
      font-family: "Times New Roman"
    }
    h4{
      font-family: "Times New Roman"
    }
    p{
      font-family:'Arial'
    }
    .do{
      border-radius: 5px;
    }
  </style>
  {%endblock%}
