
#navbar {
  background-color: orange;
  top: -50px;
  width: 100%;
  display:block;
  transition: top 0.3s;
}

#navbar a {
  float: left;
  display: block;
  color: black;
  font-family: "Times New Roman";
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}
@media screen and (max-width: 650px) {
  #navbar a {
    float: left;
    display: block;
    color: black;
    font-family: "Times New Roman";
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 10px;
  }


}
