{%extends 'base.html'%} {%load staticfiles%} {%block content%} {% load bootstrap3 %}

  {%include 'header.html'%}
  <div class="about">
<img class='prog' src="/static/img/IMG_5940.jpg" alt="" width="100%">
  </div>
<div class="container">
  <h1>What Little Einsteins Is About And Belives In</h1>
  <div class="row">
  <div class="col-md-5">
    <p>Little Einsteins believes that Science Exploration in young children begins with Fun and sets the basis for a lifelong interest and knowledge of Science, Technology, Engineering and Mathematics. Through relatable experiences and stories of `KABI’ the Science Kid and `SASHA’ the Stemette.<br>
   We also offer hands-on activities showcasing environmental and health issues in a different, entertaining and leisurely way.</p>
  <div class="glance">
    <h2>At A Glance </h2> <hr>
    <ul>
      <li>We work with children between the ages of 1.5 and 12.</li> <br>
      <li>We focus on Project Based Learning.</li> <br>
      <li>We teach STEM using entertainment and other innovative methodologies for children to retain valuable, educational information.</li> <br>
      <li>We encourage participation by children.</li> <br>
      <li>We promote good health and environmental awareness.</li> <br>
      <li>We encourage experimentation as a learning tool.</li> <br>
      <li>We leverage the scientific process as a way to learn and discover.</li> <br>
      <li>We foster a love of science while developing children’s creativity, problem solving skills and self-esteem.</li> <br>
    </ul>
  </div>
  <img class='do' src="/static/img/KABI.png" alt="" height='60%' width="60%">
</div>
  <div class="col-md-7">
    <img class='do' src="/static/img/Infographic.jpg" alt="" height='110%' width="110%">
  </div>
  </div>
</div>
{%include 'footer.html'%}
<style media="screen">
h2,li,p{
  font-family: 'Lora'
}
.do{
  border-radius: 10px;
}
.about{
  position: relative;
}
h1{
  font-family: "Love Ya Like A Sister";
}
.glance{
  background: #0091d1;
  border-radius: 10px;
  color: white;
}
h2{
  text-align: center;
}
@media screen and (max-width: 650px) {
  .prog{
    width: 90%;
    height: 200px;
  }
  h1,h2{
    font-size: 20px;
  }
  p, li, h5{
    font-size: 12px;
  }
  .do{
    display: none;
  }
}
</style>
  {%endblock %}
