{%extends 'base.html'%} {%load staticfiles%} {%block content%} {% load bootstrap3 %}

<body>
  {%include 'header.html'%}
<img class='prog' src="/static/img/IMG_6347.jpg" alt="" height='500px' width="90%">
<div class="container">
<h3>Little Einsteins, believes that Science Exploration in young children begins with Fun and sets the basis for a lifelong interest and knowledge of Science, technology, engineering and mathematics. Through relatable experiences and stories of `KABI’ the Science Kid and `SASHA’ the Stemette.</h3>
</div>
  {%endblock %}
