{%extends 'base.html'%} {%load staticfiles%} {%block content%} {% load bootstrap3 %}
<head>
  <link rel="stylesheet" href="{% static 'css/annual2018.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
  <!-- CSS Code -->
</head>
  {%include 'header.html'%}
  <html>

    <div class="found">
    <h1>Annual Science Fair 2018</h1>
    </div>
      <div class="container mt100">
          <section class="row">
              <div class="col-lg-3 col-sm-4 col-xs-6 image-holder">
                  <div class="pane pane-default">
                      <div class="pane-body">
                          <a href="#" class="zoom" data-toggle="modal" data-target="#lightbox">
                              <img src="/static/img/IMG_0790.jpg" alt="...">
                              <span class="overlay"><i class="glyphicon glyphicon-fullscreen"></i></span>
                          </a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-sm-4 col-xs-6 image-holder">
                  <div class="pane pane-default">
                      <div class="pane-body">
                      <a href="#" class="zoom" data-toggle="modal" data-target="#lightbox">
                          <img src="/static/img/IMG_0856.jpg" alt="...">
                              <span class="overlay"><i class="glyphicon glyphicon-fullscreen"></i></span>
                          </a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-sm-4 col-xs-6 image-holder">
                  <div class="pane pane-default">
                      <div class="pane-body">
                          <a href="#" class="zoom" data-toggle="modal" data-target="#lightbox">
                              <img src="/static/img/IMG_0618.jpg" alt="...">
                              <span class="overlay"><i class="glyphicon glyphicon-fullscreen"></i></span>
                          </a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-sm-4 col-xs-6 image-holder">
                  <div class="pane pane-default">
                      <div class="pane-body">
                          <a href="#" class="zoom" data-toggle="modal" data-target="#lightbox">
                              <img src="/static/img/IMG_0637.jpg" alt="...">
                              <span class="overlay"><i class="glyphicon glyphicon-fullscreen"></i></span>
                          </a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-sm-4 col-xs-6 image-holder">
                  <div class="pane pane-default">
                      <div class="pane-body">
                          <a href="#" class="zoom" data-toggle="modal" data-target="#lightbox">
                              <img src="/static/img/IMG_0706.jpg" alt="...">
                              <span class="overlay"><i class="glyphicon glyphicon-fullscreen"></i></span>
                          </a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-sm-4 col-xs-6 image-holder">
                  <div class="pane pane-default">
                      <div class="pane-body">
                          <a href="#" class="zoom" data-toggle="modal" data-target="#lightbox">
                              <img src="/static/img/IMG_0643.jpg" alt="...">
                              <span class="overlay"><i class="glyphicon glyphicon-fullscreen"></i></span>
                          </a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-sm-4 col-xs-6 image-holder">
                  <div class="pane pane-default">
                      <div class="pane-body">
                          <a href="#" class="zoom" data-toggle="modal" data-target="#lightbox">
                              <img src="/static/img/IMG_0623.jpg" alt="...">
                              <span class="overlay"><i class="glyphicon glyphicon-fullscreen"></i></span>
                          </a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-sm-4 col-xs-6 image-holder">
                  <div class="pane pane-default">
                      <div class="pane-body">
                          <a href="#" class="zoom" data-toggle="modal" data-target="#lightbox">
                              <img src="/static/img/IMG_0853.jpg"/>
                              <span class="overlay"><i class="glyphicon glyphicon-fullscreen"></i></span>
                          </a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-sm-4 col-xs-6 image-holder">
                  <div class="pane pane-default">
                      <div class="pane-body">
                          <a href="#" class="zoom" data-toggle="modal" data-target="#lightbox">
                              <img src="/static/img/IMG_0707.jpg" alt="...">
                              <span class="overlay"><i class="glyphicon glyphicon-fullscreen"></i></span>
                          </a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-sm-4 col-xs-6 image-holder">
                  <div class="pane pane-default">
                      <div class="pane-body">
                      <a href="#" class="zoom" data-toggle="modal" data-target="#lightbox">
                          <img src="/static/img/IMG_0640.jpg" alt="...">
                              <span class="overlay"><i class="glyphicon glyphicon-fullscreen"></i></span>
                          </a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-sm-4 col-xs-6 image-holder">
                  <div class="pane pane-default">
                      <div class="pane-body">
                          <a href="#" class="zoom" data-toggle="modal" data-target="#lightbox">
                              <img src="/static/img/IMG_0867.jpg" alt="...">
                              <span class="overlay"><i class="glyphicon glyphicon-fullscreen"></i></span>
                          </a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-sm-4 col-xs-6 image-holder">
                  <div class="pane pane-default">
                      <div class="pane-body">
                          <a href="#" class="zoom" data-toggle="modal" data-target="#lightbox">
                              <img src="/static/img/IMG_0688.jpg" alt="...">
                              <span class="overlay"><i class="glyphicon glyphicon-fullscreen"></i></span>
                          </a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-sm-4 col-xs-6 image-holder">
                  <div class="pane pane-default">
                      <div class="pane-body">
                          <a href="#" class="zoom" data-toggle="modal" data-target="#lightbox">
                              <img src="/static/img/IMG_0666.jpg" alt="...">
                              <span class="overlay"><i class="glyphicon glyphicon-fullscreen"></i></span>
                          </a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-sm-4 col-xs-6 image-holder">
                  <div class="pane pane-default">
                      <div class="pane-body">
                          <a href="#" class="zoom" data-toggle="modal" data-target="#lightbox">
                              <img src="/static/img/IMG_0626.jpg" alt="...">
                              <span class="overlay"><i class="glyphicon glyphicon-fullscreen"></i></span>
                          </a>
                      </div>
                  </div>
              </div>



              <!-- Modal -->
        <div id="lightbox" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog">
      <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Annual Science Fair 2018</h4>
          </div>
              <div class="modal-body">
                  <img src="" alt="" />
              </div>
          </div>
      </div>
  </div>
          </section> <!-- closing section -->
      </div> <!-- closing div container -->


  </html>
{%include 'footer.html'%}
  {%endblock %}
  {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     {% bootstrap_javascript %}
  <!-- Javascript for each modal containing a different pic. This code was written so that you don't have to write multiple modal divs -->
   <script>
   $(document).ready(function() {
  var $lightbox = $('#lightbox');
  $('[data-target="#lightbox"]').on('click', function(event) {
      var $img = $(this).find('img'),
          src = $img.attr('src'),
          alt = $img.attr('alt'),
          css = {
              'maxWidth': $(window).width() - 100,
              'maxHeight': $(window).height() - 100
          };
      $lightbox.find('img').attr('src', src);
      $lightbox.find('img').attr('alt', alt);
      $lightbox.find('img').css(css);
  });
  $lightbox.on('shown.bs.modal', function (e) {
      var $img = $lightbox.find('img');
      $lightbox.find('.modal-dialog').css({'width': $img.width()});
      $lightbox.find('.close').removeClass('hidden');
  });
});
   </script>
   {% endblock %}
