{%extends 'base.html'%} {%load staticfiles%} {%block content%} {% load bootstrap3 %}

<body>
  <div>
    <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">

            <!--Carousel item 1-->
            <ul id="horizontal-list" class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"><button style="height:50px;width:200px" class="btn btn-danger">How Kids learn</button></li>
              <li data-target="#myCarousel" data-slide-to="1"><button style="height:50px;width:200px" class="btn btn-primary">What We Teach</button></li>
              <li data-target="#myCarousel" data-slide-to="2"><button style="height:50px;width:200px" class="btn btn-success">Why We Are Different</button></li>
            </ul>
            <div class="item active">
                <img src="/static/img/IMG_6309.jpg" alt="buffalo-skyline" width="1300" height="360" />
                <div class="carousel-caption">
                    <h4>Kids Learn By Doing</h4>
                        <p>Learning is not attained by chance,<br> it must be sought for with ardor and attended to with diligence.</p>
                </div>
            </div>

            <!--Carousel item 2-->
            <div class="item">
                <img src="/static/img/IMG_5968.jpg" width="640" height="360" />
                <div class="carousel-caption">
                    <h4>What We Teach</h4>
                        <p>we teach scientific concepts in a way <br>that children understand and remember.</p>
                </div>
            </div>

            <!--Carousel item 3-->
            <div class="item">
                <img src="/static/img/IMG_6269.jpg" alt="the-buzz-img3" width="640" height="550px" >
                <div class="carousel-caption">
                    <h4>Why We Are Different</h4>
                    <p>Our aim is to guide a new generation <br>of young science explorers through genuine passion<br> in learning how the world works.</p>
                </div>
            </div>

        </div>
        </div>
  </div>
  <style media="screen">
  <style media="screen">
  .carousel-inner > .item > img {
    width:90%;
    height:500px;
  }
  ul#horizontal-list {
    min-width: 696px;
    list-style: none;
    }
    ul#horizontal-list li {
      display: inline;
    }
</body>

{% endblock%}
