{%load staticfiles%}

{%block styles%}
<link rel="stylesheet" href="{% static 'css/carousel.css' %}">
{% endblock %}
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="true">
</head>
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <div class="table">
  <ul id="horizontal-list" class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"><button style="height:50px;width:200px" class="btn btn-danger">How Kids learn</button></li>
    <li data-target="#myCarousel" data-slide-to="1"><button style="height:50px;width:200px" class="btn btn-primary">What We Teach</button></li>
    <li data-target="#myCarousel" data-slide-to="2"><button style="height:50px;width:200px" class="btn btn-success">Why We Are Different</button></li>
  </ul>
  </div>


  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img class="carousel-img" src="/static/img/IMG_6309.jpg" alt="">
        <div class="carousel-caption">
          <h1 class="carousel-caption-heading">Kids Learn By Doing</h1>
          <h4 class="carousel-caption-body">Learning is not attained by chance,<br> it must be sought for with ardor and attended to with diligence</h4>
         </div>
    </div>

    <div class="item">
      <img src="/static/img/IMG_5968.jpg" alt="">
      <div class="carousel-caption">
        <h1 class="carousel-caption-heading">What We Teach</h1>
        <h4 class="carousel-caption-body">we teach scientific concepts in a way <br>that children understand and remember.</h4>
       </div>
    </div>

    <div class="item">
      <img src="/static/img/IMG_6269.jpg" alt="">
      <div class="carousel-caption">
        <h1 class="carousel-caption-heading">Why We Are Different</h1>
        <h4 class="carousel-caption-body">Our aim is to guide a new generation <br>of young science explorers through genuine passion<br> in learning how the world works.</h4>
       </div>
    </div>
  </div>
</div>
