{%extends 'base.html'%} {%load staticfiles%} {%block content%} {% load bootstrap3 %}

  {%include 'header.html'%}
<div class="container">
  <h4>We always welcome questions, feedback and comments. You have any? Get in touch with us </h4>
  <h1>Contact Us</h1>
  <div class="row">
  <div class="col-md-8">
    <form method="post" novalidate>
      {% csrf_token %}
        {% bootstrap_form form %}
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
  </div>
  <div class="col-md-4">
    <div class="contact">
      <p></p>
      <h1>Contact Info</h1>
      <h2>NAIROBI OFFICE:</h2>
      <p>891 Amboseli Road, Off Convent Drive, Lavington</p>
      <p>P. O. Box:1634 - 00100, Nairobi</p>
      <p>Phone: +254 - 729 715 622</p>
      <p>Email:littleeinsteinske@gmail.com</p>
      <h2>MOMBASA OFFICE:</h2>
      <p>Mei Place 1st Avenue - Nyali (Behind Nyali Nakumatt Super Market)</p>
      <p>P. O. Box:82853-80100, Mombasa, Kenya</p>
      <p>Tel:  254-020  2327662</p>
      <p>Phone: +254 - 723 442 222</p>
      <p>Fax:  254- 020-2352170</p>
      <p>Email:littleeinsteinske@gmail.com</p>
      <h2>KIGALI(RWANDA):</h2>
      <p>Phone: +250 789312182</p>
      <p>Email:littleeinsteinsrw@gmail.com</p>
    </div>
    <p></p>
    <div class="contact">
      <h5>Located In Kenya And Kigali(Rwanda)</h5>
    </div>
  </div>
</div>
</div>
<br>
{%include 'footer.html'%}
<style media="screen">
h4,p,h1,h5 {
  font-family:'Lora'
}
h5{
  font-size: 21px;
}
  .prog{
    margin-left: 5%;
  }
  .contact{
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #f2f0f0;
    border-radius: 10px;
  }
  @media screen and (max-width: 650px) {
    h1{
      text-align: center;
      font-family: "Love Ya Like A Sister";
      font-size: 20px;
    }
    p{
      font-size: 12px;
      font-family: 'Lora'
    }
    h4{
      font-family: "Lora";
      font-size: 15px
    }
  }
</style>
{%endblock%}
{% block scripts %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   {% bootstrap_javascript %}
   <script>

</script>
  {% endblock %}
