{%extends 'base.html'%} {%load staticfiles%} {%block content%} {% load bootstrap3 %}
<head>
  <link rel="stylesheet" href="{% static 'css/contact.css' %}">
</head>
  {%include 'header.html'%}
<div class="container">
  <div class="found">
    <h1>Contact Us</h1>
  </div>
  <h4>We always welcome questions, feedback and comments. You have any? Get in touch with us </h4>
  <div class="row">
  <div class="col-md-8">
    <form method="post" novalidate>
      {% csrf_token %}
        {% bootstrap_form form %}
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
  </div>
  <div class="col-md-4">
    <div class="contact">
      <p></p>
      <h1>Contact Info</h1>
      <h2>NAIROBI OFFICE:</h2>
      <p>891 Amboseli Road, Off Convent Drive, Lavington</p>
      <p>P. O. Box:1634 - 00100, Nairobi</p>
      <p>Phone: +254 - 729 715 622</p>
      <p>Email:littleeinsteinske@gmail.com</p>
      <h2>MOMBASA OFFICE:</h2>
      <p>Mei Place 1st Avenue - Nyali (Behind Nyali Nakumatt Super Market)</p>
      <p>P. O. Box:82853-80100, Mombasa, Kenya</p>
      <p>Tel:  254-020  2327662</p>
      <p>Phone: +254 - 723 442 222</p>
      <p>Fax:  254- 020-2352170</p>
      <p>Email:littleeinsteinske@gmail.com</p>
      <h2>KIGALI(RWANDA):</h2>
      <p>Phone: +250 789312182</p>
      <p>Email:littleeinsteinsrw@gmail.com</p>
    </div>
    <p></p>
    <div class="contact">
      <h5>Located In Kenya And Kigali(Rwanda)</h5>
    </div>
  </div>
</div>
</div>
<br>
{%include 'footer.html'%}
{%endblock%}
{% block scripts %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   {% bootstrap_javascript %}
   <script>

</script>
  {% endblock %}
