{%extends 'base.html'%} {%load staticfiles%} {%block content%} {% load bootstrap3 %}


{%block styles%}
<link rel="stylesheet" href="{% static 'css/gallery.css' %}">
{% endblock %}
<body>
  <div class="dont">


      <!-- Nav Tabs -->
      <ul class="nav nav-tabs nav-justified" role="tablist">
        <h1 class="showgallery">SlideShow Gallery</h1>

      </ul>

      <!-- Wrapper for slides -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="fastFoodMenu">
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="item active">
                <div class="col-md-4">
                  <img src="/static/img/IMG_5849.jpg" alt="Chicken Burger">
                  <div class="carousel-caption">
                    <h4 class="carousel-caption-body">Conducive Environment</h4>
                   </div>
                </div>
                <div class="col-md-4">
                  <img src="/static/img/IMG_5875.jpg" alt="Chicken Pizza">
                  <div class="carousel-caption">
                    <h4 class="carousel-caption-body">Spacious, Fun and Safe Play Area</h4>
                   </div>
                </div>
                <div class="col-md-4">
                  <img src="/static/img/IMG_5947.jpg" alt="Beef Pizza">
                  <div class="carousel-caption">
                    <h4 class="carousel-caption-body">Encourage Creativity</h4>
                   </div>
                </div>
              </div>
              <div class="item">
                <div class="col-md-4">
                  <img src="/static/img/IMG_6418.jpg" alt="Chicken Burger">
                  <div class="carousel-caption">
                    <h4 class="carousel-caption-body">Guidance and Assistance</h4>
                   </div>
                </div>
                <div class="col-md-4">
                  <img src="/static/img/IMG_6122.jpg" alt="Beef Pizza">
                  <div class="carousel-caption">
                    <h4 class="carousel-caption-body">Efficiently Equiped</h4>
                   </div>
                </div>
                <div class="col-md-4">
                  <img src="/static/img/IMG_6207.jpg" alt="Beef Pizza">
                  <div class="carousel-caption">
                    <h4 class="carousel-caption-body">Socializing</h4>
                   </div>
                </div>
              </div>

              <div class="item">
                <div class="col-md-4">
                  <img src="/static/img/IMG_5944.jpg" alt="Chicken Burger">
                  <div class="carousel-caption">
                    <h4 class="carousel-caption-body">Interpersonal Skills</h4>
                   </div>
                </div>
                <div class="col-md-4">
                  <img src="/static/img/IMG_5988.jpg" alt="Beef Pizza">
                  <div class="carousel-caption">
                    <h4 class="carousel-caption-body">Exands Growth</h4>
                   </div>
                </div>
                <div class="col-md-4">
                  <img src="/static/img/IMG_6112.jpg" alt="Beef Pizza">
                  <div class="carousel-caption">
                    <h4 class="carousel-caption-body">Practical Learning</h4>
                   </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
</div>
</body>
<style media="screen">
  .carousel-caption-body{
    font-family: "Love Ya Like A Sister";
    font-size: 30px;
    bottom: 20px;
  }
</style>
{%endblock%}
