{%load staticfiles%}

{%block styles%}
<link rel="stylesheet" href="{% static 'css/header.css' %}">
{% endblock %}

<div style="position: relative;" class="panel panel-default">
  <div class="" style="position: absolute;">
    <div class="row">
      <div class="col-md-5">
        </div>
        <div class="col-md-7">
          <header>
            <img class="logo" src="/static/img/logo.png" alt="" height='138px' width="130px">
          </header>
    </div>
    </div>
  </div>
  <div class="w3-panel ">
    <br>
    <br>
</div>
 <div class="panel-body">
   <ul class="panel-list">
   <h3 class="panael-menu" ><a href="{%url 'program'%}">Our Programs & Events <span class="sr-only">(current)</span></a></h3>
   <h3 class="panael-menu"><a href="#">What Kids Learn</a></h3>
   <h3 class="panael-menu"><a href="#about">About Us</a></h3>
 </ul></div>
 <div class="w3-panel ">
   <br>
   <br>
 </div>
</div>
<style media="screen">
a{
  color: black;
}
@media screen and (max-width: 650px) {
  header{
    background-color: white;
    width: 70px;
    margin-left: 10px;
    border-radius: 70px;
    height: 65px;

    padding-top: 5px;
  }
  .logo{
    margin-left: 3px;
    height: 60px;
    width: 60px;
  }
  .panael-menu{
    font-size: 8px;
    height: 20px;
  }
  .w3-panel{
    background-color:#4da6ff;
    height: 30px;
  }
}
</style>
