{%extends 'base.html'%} {%load staticfiles%} {%block content%} {% load bootstrap3 %}

  {%include 'header.html'%}
  <div class="container">
    <h1>WHY BE A SPONSOR OR VENDOR AT THE SCIENCE FAIR?</h1>
    <ul>
      <li class="why">As the Premiere Science Fair of its kind in East Africa and bearing in mind the extensive interest regionally in STEM learning, we look forward to a vibrant and engaging day.</li><br>
      <li class="why">This is a major event in the Little Einsteins East Africa calendar and presents an excellent opportunity to promote your products and services to a large audience of Children and Parents from the region.</li><br>
      <li class="why">The Science Fair, typically brings together  500 parents and children, within the Early Education years age.</li>
    </ul>
    <h4>CONTACT US to be a Sponsor or Vendor at our Science Fair</h4>
  </div>
  <style media="screen">
    h1{
      font-family: "Love Ya Like A Sister"
    }
    h4, .why{
      font-family: "Lora"
    }
  </style>
  {%endblock%}
