{%extends 'base.html'%} {%load staticfiles%} {%block content%} {% load bootstrap3 %}
<head>
  <link rel="stylesheet" href="{% static 'css/learn.css' %}">
</head>
  {%include 'header.html'%}
  <div class="container">
    <div class="found">
    <h1>WHY BE A SPONSOR OR VENDOR AT THE SCIENCE FAIR?</h1>
    </div>
    <div class="row">
      <div class="col-md-2">
        <img class='book' src="/static/img/kabibook.png" alt="">
      </div>
      <div class="col-md-10">
    <ul>
      <li class="why">As the Premiere Science Fair of its kind in East Africa and bearing in mind the extensive interest regionally in STEM learning, we look forward to a vibrant and engaging day.</li><br>
      <li class="why">This is a major event in the Little Einsteins East Africa calendar and presents an excellent opportunity to promote your products and services to a large audience of Children and Parents from the region.</li><br>
      <li class="why">The Science Fair, typically brings together  500 parents and children, within the Early Education years age.</li>
      <a href="{%url 'contact'%}"><h4>CONTACT US to be a Sponsor or Vendor at our Science Fair</h4></a>
    </ul>
    </div>
  </div>
  </div>
  {%include 'footer.html'%}
  {%endblock%}
