
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

      <a class="navbar-brand" href=""><img src="/static/img/logo.png" alt="" height="100" width="90"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"></a></li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<style media="screen">
  .navbar-default{
    background-color: orange;
  }
a{
  color: black;
  font-size: 20px;
  font-family: "Love Ya Like A Sister";
}
</style>
