{% load bootstrap3 %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

#navbar {
  background-color: orange;
  top: -50px;
  width: 100%;
  display:block;
  transition: top 0.3s;
}

#navbar a {
  float: left;
  display: block;
  color: black;
  font-family: "Times New Roman";
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}
@media screen and (max-width: 650px) {
  #navbar a {
    float: left;
    display: block;
    color: black;
    font-family: "Times New Roman";
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 10px;
  }


}
</style>
</head>

<div id="navbar" class="navbar navbar-default navbar-fixed-top">
  <a href="">Home</a>
  <a href="#about">About</a>
</div>

{% block scripts %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   {% bootstrap_javascript %}
   <script>
// When the user scrolls down 20px from the top of the document, slide down the navbar
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    document.getElementById("navbar").style.top = "0";
} else {
    document.getElementById("navbar").style.top = "-50px";
}
}
</script>
  {% endblock %}
