{%extends 'base.html'%} {%load staticfiles%} {%block content%} {% load bootstrap3 %}

  {%include 'header.html'%}
  <div class="program">
    <img class='prog' src="/static/img/prog.jpg" alt="" width="100%">
  </div>
  <div class="container">
    <h1>Our five learning centers focus on  these pillars</h1>
    <div class="row">
      <div class="col-md-9">
        <div class="card">
          <ul>
            <li class="li">Sciences</li>
            <li class="li">Mathematics</li>
            <li class="li">Environment</li>
            <li class="li">Health and Nutrition</li>
            <li class="li">Technology and Engineering</li>
          </ul>
          <h5>We acknowledge each child as an individual and edutain the children bearing this in mind,through age-specific language and programs. <br>
          Our learning classes are:</h5>
          <div class="row">
            <div class="col-md-3">
            <h1 class='onetothree' >1.5-3 Years</h1>
            <p><strong>Baby Steins</strong><br>Focused on sensorial experience and fun play-based learning.</p>
            </div>
            <div class="col-md-3">
              <h1 class="threetosix">3-6 Years</h1>
              <p><strong>Mini Steins</strong><br>Named after Albert Einstein.Imagination is the key to unlocking new discoveries.</p>
            </div>
            <div class="col-md-3">
              <h1 class="seventonine">7-9 Years</h1>
              <p><strong>The Curies</strong><br>Named after Marie Curie.Science is about Exploration.</p>
            </div>
            <div class="col-md-3">
              <h1 class="tentotwelf">10-12 Years</h1>
              <p><strong>Carver Tweens</strong><br>Science is about Adventure.<br>Named after George Washington Carver.</p>
            </div>
            <!-- <img src="/static/img/sasha.png" alt="" height="100px;" width="300px;"> -->
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <img class="kabi" src="/static/img/sasha.png" alt="" height='300' width="250">
      </div>
    </div>
    <h1>How we do what we do</h1>
    <div class="row">
      <div class="col-md-6">
        <h4><strong>Our LAB workshops</strong></h4>
        <p>Centrally located at Lavington 891 Amboseli Road, off Convent Drive,Lavington. The Little Einsteins lab is an engaging and learning environment for our little explorers!</p>
        <h4><strong>In-school Workshops</strong></h4>
        <p>We offer workshops at kindergartens, primary and grade schools. Our Scientists and Lab Assistants bring all the equipment to engage our Little Explorers while in their learning instutions.</p>
        <img class='do' src="/static/img/IMG_6201.jpg" alt="" height='60%' width="85%">
      </div>
      <div class="col-md-6">
        <img class='do2' src="/static/img/IMG_0643.jpg" alt="" height='60%' width="85%">
        <h4><strong>Holiday Camps</strong></h4>
        <p>What’s more fun than our Science Explorers signing up for holiday camp! We engage your children over the school holidays in Science Activities. Kabi and Sasha love the holidays!</p>
        <h4><strong>Special Events</strong></h4>
        <p>We edutain your children during birthday parties, family/company fun days, play dates and other special events; focusing on both fun and learning. Invite our Scientists and Lab Assistants to engage the children in silly and fun Science! Edutainment has never been better! A party and learning all in one!</p>
      </div>
  </div>
  </div>
  {%include 'footer.html'%}
<style media="screen">
.program{
  position: relative;
}
.li, p,h5, h4{
  font-family:'Lora'
}
h1{
  text-align: center;
  font-family: "Love Ya Like A Sister";
}
.do, .do2{
  border-radius: 5px;
}
.onetothree{
  color: red;
}
.threetosix{
  color: blue;
}
.seventonine{
color:  green;
}
.tentotwelf{
color:  orange;
}
@media screen and (max-width: 650px) {
  .prog{
    width: 90%;
    height: 200px;
  }
  h1{
    font-size: 20px;
  }
  p, li, h5{
    font-size: 12px;
  }
  h4{
    font-size: 15px;
  }
  .kabi{
    display: none;
  }
  h2{
    font-size: 20px;
  }
  .do2{
    display: none;
  }
}
</style>
  {%endblock%}
