{%extends 'base.html'%} {%load staticfiles%} {%block content%} {% load bootstrap3 %}

  {%include 'header.html'%}
  <div class="program">
    <img class='prog' src="/static/img/IMG_6173.jpg" alt="" height='500px' width="90%">
    <div class="top-right"><h1>Our Little Explorers <br>Programs & Events</h1></div>
  </div>
  <div class="container">
    <h1>Our five learning centers focus on  these pillars</h1>
    <div class="row">
      <div class="col-md-9">
        <div class="card">
          <ul>
            <li>Sciences</li>
            <li>Mathematics</li>
            <li>Environment</li>
            <li>Health and Nutrition</li>
            <li>Technology and Engineering</li>
          </ul>
          <h5>We acknowledge each child as an individual and edutain the children bearing this in mind,through age-specific language and programs. <br>
          Our learning classes are:</h5>
          <div class="row">
            <div class="col-md-3">
            <h2 class='onetothree' >1.5-3 Years</h2>
            <p><strong>Baby Steins</strong>- Focused on Sensorial learning</p>
            </div>
            <div class="col-md-3">
              <h2 class="threetosix">3-6 Years</h2>
              <p><strong>Mini Steins</strong>-Named after Albert Einstein</p>
            </div>
            <div class="col-md-3">
              <h2 class="seventonine">7-9 Years</h2>
              <p><strong>The Curies</strong>-Named after Marie Curie</p>
            </div>
            <div class="col-md-3">
              <h2 class="tentotwelf">10-12 Years</h2>
              <p><strong>Carver Tweens</strong>- Named after George Washington Carver</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <img class="kabi" src="/static/img/KABI.png" alt="" height='300' width="250">
      </div>
    </div>
    <h1>How we do what we do</h1>
    <h2><strong>Our Teaching Formats:</strong></h2> <hr>
    <div class="row">
      <div class="col-md-6">
        <h4><strong>Our LAB workshop</strong></h4>
        <p>centrally located at Lavington 891 Amboseli Road, off Convent Drive,Lavington. The Little Einssteins lab is an engaging and learning environment for our little explorers!</p>
        <h4><strong>In-school Workshop</strong></h4>
        <p>We offer workshops at kindergatens, primary and grade schools. Our scientists and lab Assistants bring all the equipment to engage our little explorers while in their learning instutions.</p>
        <img class='do' src="/static/img/IMG_6201.jpg" alt="" height='60%' width="85%">
      </div>
      <div class="col-md-6">
        <img class='do' src="/static/img/IMG_6007.jpg" alt="" height='60%' width="85%">
        <h4><strong>Holiday Camps</strong></h4>
        <p>What more fun our Science Explorers have then signing up for holiday camp! We engage your children over 5 days of the holiday in Science Activities. Kabi and Sasha love the holidays</p>
        <h4><strong>Special Events</strong></h4>
        <p>Are you having a birthday party for your Little One? Invite our Scientists and Lab Assistants to engage the children in silly and fun Science! Edutainment has never been better! A party and learning all in one</p>
      </div>
  </div>
  </div>
  {%include 'footer.html'%}
<style media="screen">
.program{
  position: relative;
}
.top-right {
    color: white;
    position: absolute;
    top: 8px;
    right: 450px;
}
.prog{
  margin-left: 5%;
}
.card{
  box-shadow: 1px 1px 10px #000;
  border-radius: 20px;
}
p{
  font-family:'Arial'
}
h1{
  text-align: center;
  font-family: "Love Ya Like A Sister";
}
.do{
  border-radius: 5px;
}
.onetothree{
  color: red;
}
.threetosix{
  color: blue;
}
.seventonine{
color:  green;
}
.tentotwelf{
color:  orange;
}
</style>
  {%endblock%}
